{% extends "renderer/admin/admin_base.html" %}
{% load i18n static widget_tweaks %}

{% block extra_head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-10">
    <form action="{{ form_url }}" {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}method="post">
      {% csrf_token %}
      {% for field in form %}
      {% if field.field.widget.input_type == "checkbox" %}
      <div class="form-check">
      {% else %}
      <div class="form-group">
        {% endif %}
        {% if field.field.widget.input_type == "checkbox" %}
        {{ field | add_class:'form-check-input'}}
        <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% for error in field.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endfor %}
        {% else %}
        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% for error in field.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endfor %}
        {% if field.field.widget.input_type == "file" %}
        {{ field | add_class:'form-control-file'}}
        {% else %}
        {{ field | add_class:'form-control' }}
        {% endif %}
        {% endif %}
      </div>
      {% endfor %}
      <div class="form-group">
        <div class="btn-group" role="group">
          <button class="btn btn-primary" id="submit-btn" type="submit">{% trans 'Save' %}</button>
          {% if delete_url %}
          <a href="{{ delete_url }}" class="btn btn-danger" id="delete-btn">{% trans 'Delete' %}</a>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
