{% extends "lodestar/base.html" %}
{% load i18n %}

{% block extra_head %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock blockbots%}
{% endblock extra_head %}

{% block pre_content %}
{% block breadcrumbs %}
{% if title %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'renderer:admin_index' %}">{% trans "Home" %}</a>
    </li>
    {% if intermediary_crumb %}
    <li class="breadcrumb-item">
      <a href="{{ intermediary_crumb.url }}">{{ intermediary_crumb.text }}</a>
    </li>
    {% endif %}
    <li class="breadcrumb-item active">
      {{ title }}
    </li>
  </ol>
</nav>
{% endif %}
{% endblock %}
{% block messages %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message|capfirst }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endblock messages %}
{% endblock pre_content %}

{% block content %}
{% block object-tools %}{% endblock object-tools %}
{{ content }}
{% endblock content %}

{% block post_content %}
{% block sidebar %}
<div class="row">
  <div class="col-sm">
    <h1>{% trans "My Recent Actions" %}</h1>
    {% load log %}
    {% get_admin_log 10 as admin_log for_user user %}
    {% if not admin_log %}
    <p>{% trans "None available" %}</p>
    {% else %}
    <ul class="list-group">
      {% for entry in admin_log %}
      <li class="list-group-item">
        <span class="fas fa-{% if entry.is_addition %}plus{% endif %}{% if entry.is_change %}pencil-alt{% endif %}{% if entry.is_deletion %}minus{% endif %}"></span>
        {% if entry.is_deletion or not entry.get_admin_url %}
        {{ entry.object_repr }}
        {% if entry.content_type %}
        - {% filter capfirst %}{{ entry.content_type }}{% endfilter %}
        {% else %}
        - {% trans "Unknown content" %}
        {% endif %}
        {% else %}
        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}
          {% if entry.content_type %}
          - {% filter capfirst %}{{ entry.content_type }}{% endfilter %}
          {% else %}
          - {% trans "Unknown content" %}
          {% endif %}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock sidebar %}
<br class="clear" />
{% endblock post_content %}

