{% extends "renderer/admin/admin_base.html" %}
{% load i18n static widget_tweaks %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <form action="" method="post">{% csrf_token %}
      <p>{% blocktrans %}
      Are you sure you want to delete {{ object }}? There is no way of reversing
      this.
      {% endblocktrans %}</p>
      <div class="btn-group" role="group">
        <button class="btn btn-danger" id="btn-delete" type="submit">{% trans 'Delete' %}</button>
        <a href="{{ object.get_absolute_url }}" class="btn btn-secondary" id="cancel-btn">{% trans 'Cancel' %}</a>
    </form>
      </div>
      {% endblock %}
