{% extends "renderer/admin/admin_base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-sm-10">
    <h1>{% trans "Textbooks" %}</h1>
  </div>
  <div class="col-sm-2">
    <a href="{% url 'renderer:admin_add_textbook' %}" class="btn btn-primary btn-heading" role="button">
      <span class="fas fa-plus"></span> {% trans "Add" %}
    </a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {% if textbooks %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% trans 'Name' %}</th>
          <th scope="col">{% trans 'Author' %}</th>
          <th scope="col">{% trans 'Ontology' %}</th>
        </tr>
        <tbody>
          {% for textbook in textbooks %}
          <tr>
            <th scope="row"><a href="{{ textbook.get_absolute_url }}">{{ textbook.source.name }}</a></th>
            <td>{{ textbook.source.author }}</th>
            <td>{{ textbook.ontology }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </thead>
    </table>
    {% else %}
    {% trans "You have no textbooks" %}
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm-10">
    <h1>{% trans "Ontologies" %}</h1>
  </div>
  <div class="col-sm-2">
    <a href="{% url 'renderer:admin_add_ontology' %}" class="btn btn-primary btn-heading" role="button">
      <span class="fas fa-plus"></span> {% trans "Add" %}
    </a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {% if ontologies %}
    <ul class="list-group">
    {% for ontology in ontologies %}
      <li class="list-group-item">
        <a href={% url 'renderer:admin_edit_ontology' ontology.pk %}>{{ ontology }}</a>
      </li>
    {% endfor%}
    </ul>
    {% else %}
    {% trans "You have no ontologies" %}
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{% trans "Users" %}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {% if users or groups %}
    <ul class="list-group">
      {% if users %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-8"> 
            {% trans "Users" %}
          </div>
          <div class="col-sm-2">
            <a href={% url 'renderer:admin_view_users' %} class="btn btn-primary" role="button">
              <span class="fas fa-edit"></span> {% trans "Manage" %}
            </a>
          </div>
          <div class="col-sm-2">
            <a href={% url 'renderer:admin_add_user' %} class="btn btn-secondary" role="button">
              <span class="fas fa-plus"></span> {% trans "Add" %}
            </a>
          </div>
        </div>
      </li>
      {% endif %}
      {% if groups %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-8"> 
            {% trans Groups %}
          </div>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-2">
            <a href={% url 'renderer:admin_add_user' %} class="btn btn-secondary" role="button">
              <span class="fas fa-plus"></span> {% trans "Add group" %}
            </a>
          </div>
        </div>
      </li>
      {% endif %}
    </ul>
    {% else %}
    {% trans "You have no users to manage" %}
    {% endif %}
  </div>
</div>
{% endblock %}
