{% extends "renderer/admin/admin_base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
    {% for object in object_list %}
    <li class="list-group-item">
      <a href={% url edit_url object.pk %}>{{ object }}</a>
    </li>
    {% empty %}
    {{ empty_text }}
    {% endfor %}
  </div>
</div>

{% endblock %}
