{% extends 'lodestar/base.html' %}
{% load i18n %}

{% block content %}
<p>{% trans "Logged out!" %}</p>

<a href="{% url 'registration:login'%}">{% trans "Click here to login again." %}</a>
{% endblock %}
