{% extends 'lodestar/base.html' %}
{% load widget_tweaks i18n %}

{% block content %}
<h1>{% trans "Log In" %}</h1>
{% if form.errors %}
<div class="alert alert-danger">
  <p>{% trans "Your username and password didn't match. Please try again." %}</p>
</div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<div class="alert alert-warning">
  <p>{% trans "Your account doesn't have access to this page. To proceed,
  please login with an account that has access." %}</p>
</div>
{% endif %}
{% endif %}

<div class="col-sm-6">
  <div class="form-group">
    <form method="post" action="{% url 'registration:login' %}">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}

      {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      {% endfor %}

      <div>
        <input class="btn btn-primary" type="submit" value="{% trans "Log in" %}" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
  </div>
  <p><a href="{% url 'registration:password_reset' %}">{% trans "Forgotten password?" %}</a></p>
</div>

{% endblock %}
