{% extends 'lodestar/base.html' %}
{% load i18n %}
{% block content %}

<div class="form-group">
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-item">
      {% if form.email.errors %} {{ form.email.errors }} {% endif %}
      {{ form.email.label_tag }}
      {{ form.email }}
    </div>
    <input type="submit" class="btn btn-primary btn-lg" value="{% trans "Reset password" %}" />
  </form>
</div>

{% endblock %}
