{% extends 'lodestar/base.html' %}
{% load i18n %}
{% block content %}

<h1>{% trans "Your password has been changed!" %}</h1>
<p><a href="{% url 'registration:login' %}">{% trans "Log in again" %}</a></p>

{% endblock %}
