{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Lodestar{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/quest.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/all.min.css' %}">
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% include "lodestar/nav.html" %}
    <div id="main" class="container-fluid {% block container_class %}{% endblock %}">
      {% block pre_content %} {% endblock %}
      {% block pretitle %}{% endblock %}
      {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
      {% block content %}
      <h1>Lodestar</h1>
      {% endblock %}
      {% block post_content %}{% endblock %}
    </div>
    {% block extra_foot %}{% endblock %}
  </body>
</html>
