{% load i18n %}
<nav class="navbar navbar-expand-md navbar-dark navbar-light bg-dark justify-content-between">
  {% block navtitle %}
  <a class="navbar-brand" href="/">Lodestar</a>
  {% endblock %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% block navuser %}
    <ul class="navbar-nav ml-auto">
      {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'renderer:admin_index' %}">
          <span class="fas fa-cog"></span> {% trans "Site Admin" %}</a>
      </li>
      {% endif %}
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'registration:logout' %}">
          <span class="fas fa-sign-out-alt"></span> {% trans "Log Out" %}</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href=" {% url 'registration:login' %}">
          <span class="fas fa-sign-in-alt"></span> {% trans "Log In" %}</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'renderer:docs_help' %}">
          <span class="fas fa-question"></span> {% trans "Help" %}</a>
      </li>
    </ul>
    {% endblock %}
  </div>
</nav>
