.btn-heading {
  margin-top: 10px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline blue;
}

/* The definition */
.popup .popup-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

/* The related relationships */
.popup .popup-relations {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

#class-col {
    display: none;
    position: fixed;
    right: 5%;
    top: 5%;
}

#class-heading {
    max-height: 20vh;
    overflow: auto;
}

#class-definition {
    max-height: 50vh;
    overflow: auto;
}

#class-relationships {
    max-height: 25vh;
    overflow: auto;
}
