{% extends "lodestar/base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    {% if textbooks %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% trans 'Name' %}</th>
          <th scope="col">{% trans 'Author' %}</th>
          <th scope="col">{% trans 'Ontology' %}</th>
        </tr>
        <tbody>
          {% for textbook in textbooks %}
          <tr>
            <th scope="row"><a href="{{ textbook.get_absolute_view_url }}">{{ textbook.source.name }}</a></th>
            <td>{{ textbook.source.author }}</th>
            <td>{{ textbook.ontology }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </thead>
    </table>
    {% else %}
    {% trans "You have no textbooks" %}
    {% endif %}
  </div>
</div>
{% endblock %}
