{% extends "lodestar/base.html" %}
{% load i18n includehtml static %}

{% block extra_head %}
    <script src="{% static 'js/show_popup.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div id="textbook-col" class="col-sm-12">
    {% includehtml embed_file %}
  </div>
  <div id="class-col" class="col-sm-4">
    <div class="list-group">
      <h2 id="class-heading" class="list-group-item"></h2>
      <p id="class-definition" class="list-group-item"></p>
      <div id="class-relationships" class="list-group-item"><ul id="relationship-list"></ul></div>
      <button id="class-close-btn" class="list-group-item list-group-item-action">{% trans 'Close' %} <span class="fas fa-angle-double-right"/></button>
    </div>
  </div>
</div>
{% endblock %}
